.App {
  background: #333333;
  min-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.names{
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin:auto;
}

.name{
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #9e0eae;
  color:white;
}

.popup{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border:#9e0eae 5px solid;
  background: #141414;
  color: #ff0000;
  width: 35vw;
  height:25vh;
  padding: 15px;
}

.popup hr{
  border: 2px #9e0eae solid;
  width: 95%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9e0eae;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: calc(14px + 2vmin);
  color: white;
  height:20vh;
}

.currentDay{
  font-weight: bold;
}

.clock{
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}